
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/scripts/jquery-2.1.4.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.min.js"></script>

    <link href="~/Content/ace/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="~/Content/ace/font-awesome-ie7.min.css" />
    <![endif]-->


    <link href="~/Content/ace/ace.min.css" rel="stylesheet" />
    <link href="~/Content/ace/ace-skins.min.css" rel="stylesheet" />
    <link href="~/Content/ace/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/ace/ace-ie.min.css" rel="stylesheet" />
    <!--[if lte IE 8]>
          <link rel="stylesheet" href="~/Content/ace/ace-ie.min.css" />
        <![endif]-->



    <script src="~/scripts/ace-elements.min.js"></script>
    <script src="~/scripts/ace-extra.min.js"></script>
    <script src="~/scripts/ace.min.js"></script>

    <!--[if lt IE 9]>
        <script src="~/scripts/html5shiv.js"></script>
        <script src="~/scripts/respond.min.js"></script>
        <![endif]-->
    <style>
        .dz-nav {
            margin-bottom: 0;
            background-color: #fff;
            border-bottom: 0;
        }

        .footer {
            background-color: #555555;
            min-height: 50px;
        }

            .footer a {
                color: #aaaaaa;
            }

                .footer a:hover {
                    color: #eaeaea;
                }

            .footer .footer-menu li {
                float: left;
                list-style: none;
                margin-left: 10px;
            }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main-container" id="main-container">
        <div class="navbar navbar-default" id="navbar">
            <div class="navbar-header pull-left">
                @Html.ActionLink("鼎智科技", "Index", "Home", null, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("产品列表", "List", "Product")</li>
                    <li><a href="#">客户服务</a></li>
                    <li class="dropdown-toggle">
                    </li>
                </ul>
            </div>

            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav">
                    @Html.Action("NavUser", "Nav")
                    <li>
                        @Html.Action("Summary", "Cart")
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="sidebar">
                @Html.Partial("_UserMenu")
            </div>
            <div class="main-content">
                <div class="main-content-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-menu">
                <ul>
                    <li>
                        @Html.ActionLink("公司简介", "Login", "Account", new { @returnUrl = Url.Action("Index", "Home", new { area = "Admin" }) }, new { @class = "btn-link" })
                    </li>
                    <li>
                        @Html.ActionLink("人才招聘", "Login", "Account", new { @returnUrl = Url.Action("Index", "Home", new { area = "Admin" }) }, new { @class = "btn-link" })
                    </li>
                    <li>
                        @Html.ActionLink("管理", "Home", "Admin", null, new { @class = "btn-link" })
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
