@model HyrjChina.Domain.Entities.Order

@{
    ViewBag.Title = "订单结算页 - 鼎智科技";
}

<div class="row">
    <div class="col-sm-12 col-md-3  col-md-offset-1">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary()
            @Html.HiddenFor(m=>m.AddressId)
            <h3>收货人信息</h3>
            if (Model.Address == null)
            {
                @Html.ActionLink("添加一个收货地址", "AddressCreate", "User", null, new { @class = "btn btn-primary" })
            }
            else
            {
                <div class="co">
                    @Model.Address.ConsigneeName
                    @Model.Address.Province.Name
                    @Model.Address.City.Name
                    @Model.Address.Town.Name
                    @Model.Address.CompleteAddress
                    @Model.Address.Phone
                </div>
            }

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="提交订单" />
            </div>

        }
    </div>
</div>