@model HyrjChina.Web.Models.CartIndexViewModel

@{
    ViewBag.Title = "我的购物车 - 鼎智科技";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>我的购物车</h2>
@if (Model.Cart.Lines.Count() == 0)
{
    <div class="col-sm-12">
        <span class="text-center">购物车空空的哦~，去看看心仪的商品吧~</span>
    </div>
}
else
{
    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>数量</th>
                <th>商品</th>
                <th class="text-right">单价</th>
                <th class="text-right">总计</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">
                        @line.Product.Price.ToString("c")
                    </td>
                    <td class="text-right">
                        @((line.Quantity * line.Product.Price).ToString("c"))
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                            @Html.Hidden("ID", line.Product.ID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-warning"
                                   type="submit" value="删除" />
                        }
                    </td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">总价格:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">
            继续购物
        </a>
        @Html.ActionLink("去结算", "Checkout", null, new { @class = "btn btn-primary" })

    </div> }

