@model HyrjChina.Domain.Entities.Address

@{
    ViewBag.Title = "AddressEdit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstname" class="col-md-2 control-label">收货人</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="firstname"
                           placeholder="请输入姓名">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">地区</label>
                <label class="col-md-1 control-label text-right">省</label>
                <div class="col-md-2">
                    @Html.DropDownList("ProvinceId", ViewData["Provinces"] as SelectList,
               new { @class = "form-control" })
                </div>
                <label class="col-md-1 control-label text-right">市</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.CityId,
       new List<SelectListItem>() {
           new SelectListItem() { Value = "0", Text = "请选择" }
       }, new { @class = "form-control" })
                </div>
                <label class="col-md-1 control-label text-right">县</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.TownId,
       new List<SelectListItem>() {
           new SelectListItem() { Value = "0", Text = "请选择" }
       }, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-md-2 control-label">详细地址</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="firstname"
                           placeholder="请输入详细地址">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-md-2 control-label">手机号码</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="firstname"
                           placeholder="请输入手机号码">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-md-2 control-label">地址别名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="firstname"
                           placeholder="">
                </div>
            </div>
            <div class="form-group">
                <button class="col-md-1 col-md-offset-1 btn btn-success">保存</button><button class="col-md-1 col-md-offset-1 btn btn-warning">取消</button>

            </div>
           
        </form>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#ProvinceId").change(function () {
            $("#TownId").empty();
            $("#CityId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSonRegions")', // we are calling json method

                dataType: 'json',

                data: { id: $("#ProvinceId").val() },
                // here we are get value of selected country and passing same value as inputto json method GetStates.

                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $("#CityId").append('<option>请选择</option>');
                    $.each(states, function (i, state) {
                        $("#CityId").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                        // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });

    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#CityId").change(function () {
            $("#TownId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSonRegions")',
                dataType: 'json',
                data: { id: $("#CityId").val() },
                success: function (citys) {
                    $("#TownId").append('<option>请选择</option>');
                    $.each(citys, function (i, city) {
                        $("#TownId").append('<option value="'
+ city.Value + '">'
+ city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });

</script>